apiVersion: v1
kind: Pod
metadata:
  name: consumer-dev
spec:
  containers:
  - name: consumer-dev
    resizePolicy: # for pod being updated without restarting
    - resourceName: cpu
      restartPolicy: NotRequired
    - resourceName: memory
      restartPolicy: NotRequired
    image: local/ptychonn:trt
    imagePullPolicy: Never
    command: ["/bin/bash"]
    args:
    - -c
    - "while true; do date; sleep 1; done"
    env:
      - name: NRM_UPSTREAM_URI
        value: tcp://nrm.charon
      - name: NRM_UPSTREAM_RPC_PORT
        value: '3456'
      - name: NRM_UPSTREAM_PUB_PORT
        value: '2345'
    ports:
    - containerPort: 9100
    resources:
      limits:
        cpu: 1000m
      requests:
        cpu: 1000m
  runtimeClassName: nvidia