apiVersion: v1
kind: ServiceAccount
metadata:
  name: grafana-agent
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: grafana-agent
rules:
- apiGroups:
  - ""
  resources:
  - nodes
  - nodes/proxy
  - nodes/metrics
  - services
  - endpoints
  - pods
  - events
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- nonResourceURLs:
  - /metrics
  - /metrics/cadvisor
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: grafana-agent
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: grafana-agent
subjects:
- kind: ServiceAccount
  name: grafana-agent
  namespace: {{ k3s_namespace }}
---
apiVersion: monitoring.grafana.com/v1alpha1
kind: GrafanaAgent
metadata:
  name: grafana-agent
  labels:
    app: grafana-agent
spec:
  image: grafana/agent:v0.37.2
  resources:
    limits:
      memory: 500Mi
    requests:
      cpu: 200m
      memory: 150Mi
  containers:
  - name: config-reloader
    resources:
      limits:
        memory: 50Mi
      requests:
        cpu: 50m
        memory: 50Mi
  # The following overwrites with the resource
  # defined in the upper level.
  # - name: grafana-agent
  #   resources:
  #     limits:
  #       memory: 150Mi
  #     requests:
  #       cpu: 100m
  #       memory: 100Mi
  integrations:
    selector:
      matchLabels:
          agent: grafana-agent-integrations
  logLevel: info
  serviceAccountName: grafana-agent
  # (yongho) nodeSelector is inherited to PodLog which is a daemonset
  # this prevents the daemonset to launch pods on all nodes
  # however, without this nodeSelector this grafana-agent may run on
  # other Kubernetes node.
  # nodeSelector:
  #   node-role.kubernetes.io/master: "true"
  metrics:
    instanceSelector:
      matchLabels:
        agent: grafana-agent-metrics
    # externalLabels:
    #   vsn: ${VSN}
  logs:
    instanceSelector:
      matchLabels:
        agent: grafana-agent-logs
