apiVersion: v1
kind: ConfigMap
metadata:
  name: grafana-config-provisioning-datasources
data:
  mimir.yaml: |
    apiVersion: 1

    # # list of datasources that should be deleted from the database
    #deleteDatasources:
    #   - name: Graphite
    #     orgId: 1

    # # list of datasources to insert/update depending
    # # on what's available in the database
    datasources:
    #   # <string, required> name of the datasource. Required
    - name: mimir
    #   # <string, required> datasource type. Required
      type: prometheus
    #   # <string, required> access mode. direct or proxy. Required
    #   access: proxy
    #   # <int> org id. will default to orgId 1 if not specified
    #   orgId: 1
    #   # <string> url
      url: http://mimir-nginx.{{ k3s_namespace }}.svc:80/prometheus